@charset "ISO-8859-1";

.default_error_text {
	color: #ff8040;
}

body {
	font-family: "Lato", sans-serif;
	background-color: rgb(85, 87, 83);
}

.main {
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 50px;
	height: 100%;
	padding-top: 10px;
}