@charset "UTF-8";

body {
	font-family: "Lato", sans-serif;
	background-color: rgb(85, 87, 83);
}

.main {
	margin-left: 15%;
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 50px;
	height: 100%;
	padding-top: 10px;
}

.titleForum {
	color: #FFFFFF;
	padding: 0em;
	font-size: 30px
}

.subtitleForum {
	color: #FFFFFF;
	padding: 0em;
	font-size: 20px
}

.textForum {
	color: #FFFFFF;
	padding: 0em;
	font-size: 15px
}

.byUserForum {
	color: #00FF88;
	padding: 0em;
	font-size: 12px
}

.send {
	background: #FFFFFF;
}