@charset "UTF-8";

body {
	font-family: "Lato", sans-serif;
	background-color: rgb(85, 87, 83);
	background-image: url(../images/start.jpg);
}

.main {
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 50px;
	height: 100%;
	padding-top: 10px;
}

.welcome {
	margin-top: 150px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-family: 'Play', sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 90px;
}

.start-study-with-us {
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/* Style the navbar */
.hallo_user {
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
}

