@charset "UTF-8";

body {
	font-family: "Lato", sans-serif;
	background-color: #111;
	background-image: url(../images/start.jpg);
}

.sidenav {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 10px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.closedSideNav {
	font-size: 30px;
	cursor: pointer;
	color: #f1f1f1;
}

.main {
	font-size: 28px; /* Increased text to enable scrolling */
	padding: 0px 50px;
	height: 100%;
	padding-top: 10px;
}

.welcome {
	margin-top: 150px;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-family: 'Play', sans-serif;
	font-size: 50px;
	font-weight: 700;
	line-height: 90px;
}

.start-study-with-us {
	color: #000000;
	text-align: center;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

/* Style the navbar */
.hallo_user {
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
}

.topnav {
	overflow: hidden;
	/* background-color: #e9e9e9; */
}

/* Navbar links */
.topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Active/current link */
.topnav a.active {
	background-color: #2196F3;
	color: white;
}

/* Style the input container */
.topnav .login-container {
	float: right;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	width: 150px;
	/* adjust as needed (as long as it doesn't break the topnav) */
}

.topnav img {
	float: left;
	padding: 0px 20px
}

.logout {
	float: left;
	padding: 0px 20px
}

/* Style the button inside the input container */
.topnav .login-container button {
	float: right;
	padding: 6px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.topnav .login-container button:hover {
	background: #ccc;
}