@charset "UTF-8";

body {
	font-family: "Lato", sans-serif;
	background-color: rgb(85, 87, 83);

}

.main {
	margin-left: 15%;
	margin-right: 20%;	
}

.title {
	color: #FFFFFF;
	padding: 0em;
	font-size: 30px
}

.text {
	color: #FFFFFF;
	padding: 0em;
	font-size: 15px
}

.codespan {
	color: "#008800";
}

table, th, td {
  margin-left: 15%;
  margin-right: 15%;
  border: 1px solid black;
  border-collapse: collapse;
  color: #FFFFFF;
}

.longcode {
  margin-left: 15%;
  margin-right: 15%;
}