.sidenav {
	height: 100%;
	width: 15%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	padding-top: 10px;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.closedSideNav {
	font-size: 30px;
	cursor: pointer;
	color: #f1f1f1;
}


/* Style the navbar */
.hallo_user {
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
	margin: 0;
}